In [6]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
from getpass import getpass

In [7]:
password = getpass()

In [8]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [9]:
# -- 1) only non duplicate last names

one = pd.DataFrame(engine.execute('''
SELECT last_name
FROM actor
GROUP BY last_name
HAVING COUNT(*) = 1
'''))
len(one)

66

In [10]:
# -- 2) additional column day_type with values 'weekend' and 'workday' 

two = pd.DataFrame(engine.execute("""
SELECT *, 
CASE 
	WHEN DATE_FORMAT(CONVERT(rental_date, DATE), '%%a') LIKE 'S%%' THEN 'weekend' 
	ELSE 'workday' 
END AS 'day_type' 
FROM rental
"""))
two['day_type'].value_counts()

workday    11413
weekend     4631
Name: day_type, dtype: int64

In [11]:
# -- 3) armaggeddons

three = pd.DataFrame(engine.execute("""
SELECT * 
FROM film 
WHERE title LIKE '%%ARMAGEDDON%%'
"""))
three.drop(['description'], axis=1)

,film_id,title,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,39,ARMAGEDDON LOST,2006,1,None,5,0.99,99,10.99,G,Trailers,2006-02-15 05:03:42
1,507,LADYBUGS ARMAGEDDON,2006,1,None,4,0.99,113,13.99,NC-17,Deleted Scenes,2006-02-15 05:03:42
2,571,METAL ARMAGEDDON,2006,1,None,6,2.99,161,26.99,PG-13,"Trailers,Commentaries,Deleted Scenes",2006-02-15 05:03:42
3,598,MOSQUITO ARMAGEDDON,2006,1,None,6,0.99,57,22.99,G,Trailers,2006-02-15 05:03:42
4,838,STAGECOACH ARMAGEDDON,2006,1,None,5,4.99,112,25.99,R,"Trailers,Deleted Scenes",2006-02-15 05:03:42
5,844,STEERS ARMAGEDDON,2006,1,None,6,4.99,140,16.99,PG,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-15 05:03:42

In [12]:
# -- 12) 10 longest films

four = pd.DataFrame(engine.execute("""
SELECT *
FROM film
ORDER BY length 
DESC LIMIT 10;
"""))
four.drop(['description'], axis=1)

,film_id,title,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,872,SWEET BROTHERHOOD,2006,1,None,3,2.99,185,27.99,R,Deleted Scenes,2006-02-15 05:03:42
1,609,MUSCLE BRIGHT,2006,1,None,7,2.99,185,23.99,G,Deleted Scenes,2006-02-15 05:03:42
2,426,HOME PITY,2006,1,None,7,4.99,185,15.99,R,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42
3,349,GANGS PRIDE,2006,1,None,4,2.99,185,27.99,PG-13,Behind the Scenes,2006-02-15 05:03:42
4,141,CHICAGO NORTH,2006,1,None,6,4.99,185,11.99,PG-13,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
5,212,DARN FORRESTER,2006,1,None,7,4.99,185,14.99,G,Deleted Scenes,2006-02-15 05:03:42
6,991,WORST BANGER,2006,1,None,4,2.99,185,26.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
7,690,POND SEATTLE,2006,1,None,7,2.99,185,25.99,PG-13,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42
8,182,CONTROL ANTHEM,2006,1,None,7,4.99,185,9.99,G,Commentaries,2006-02-15 05:03:42
9,817,SOLDIERS EVOLUTION,2006,1,None,7,4.99,185,27.99,R,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-15 05:03:42

In [13]:
# -- 5) how many behind the scenes

five = pd.read_sql_query("""
SELECT COUNT(*)
FROM film
WHERE FIND_IN_SET('Behind the scenes',  special_features);
""", engine)
five

   COUNT(*)
0       538

In [14]:
# -- 6) rating with mean > 2h

six = pd.read_sql_query("""
SELECT rating
FROM film
GROUP BY rating
HAVING AVG(length) > 120;
""", engine)
six

  rating
0  PG-13

In [15]:
# -- 7) length-rankings

seven = pd.read_sql_query("""
SELECT title, length, 
CASE
	WHEN length BETWEEN 0 AND 59 THEN 'short'
    WHEN length BETWEEN 60 AND 89 THEN 'middle'
    WHEN length BETWEEN 90 AND 120 THEN 'long'
    ELSE 'overlong'
END AS ranking
FROM film
WHERE length IS NOT NULL AND length <> 0;
""", engine)
seven

                 title  length   ranking
0     ACADEMY DINOSAUR      86    middle
1       ACE GOLDFINGER      48     short
2     ADAPTATION HOLES      50     short
3     AFFAIR PREJUDICE     117      long
4          AFRICAN EGG     130  overlong
..                 ...     ...       ...
995     YOUNG LANGUAGE     183  overlong
996         YOUTH KICK     179  overlong
997       ZHIVAGO CORE     105      long
998  ZOOLANDER FICTION     101      long
999          ZORRO ARK      50     short

[1000 rows x 3 columns]